<app-page-title pageTitle="User Detail" [pageIcon]="['fas', 'user-astronaut']" />

@if (user$ | async; as user) {
  <div class="row">
    <div class="col-md-4 col-xxl-3">
      <img
        [src]="'https://i.pravatar.cc?img=' + user.id"
        [alt]="user.username"
        class="img-fluid rounded rounded-4 mb-3" />
      <div class="mb-4">
        <h3>{{ user.name }}</h3>
        @switch (user.name) {
          @case ('Leanne Graham') {
            <span class="badge rounded-pill text-bg-dark">Admin</span>
          }
          @case ('Ervin Howell') {
            <span class="badge rounded-pill text-bg-secondary">Worker</span>
          }
          @default {
            <span class="badge rounded-pill text-bg-success">User</span>
          }
        }
      </div>
    </div>
    <div class="col-md-8 col-xxl-9">
      @defer {
        <app-user-detail-group [user]="user" />
      } @placeholder (minimum 500ms) {
        <div class="alert alert-light" role="alert">
          <div class="bg-body-secondary rounded w-25 mb-3" style="height: 2rem"></div>
          <div class="bg-body-secondary rounded w-100 mb-2" style="height: 1.5rem"></div>
          <div class="bg-body-secondary rounded w-75 mb-2" style="height: 1.5rem"></div>
          <div class="bg-body-secondary rounded w-50 mb-2" style="height: 1.5rem"></div>
          <div class="bg-body-secondary rounded w-100 mb-2" style="height: 1.5rem"></div>
        </div>
      }
    </div>
  </div>
} @else {
  <app-loader />
}
